@value colors: "../helpers/colors.module.css";
@value blue from colors;
.headerWrapper {
  background: blue;
  margin-bottom: 1.45rem;
}

.headerCore {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 960;
  padding: 1.45rem 1.0875rem;
}

.headerLinks {
  width: 20%;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 1200px) {
  .headerLinks {
    width: 30%;
    display: flex;
    justify-content: space-around;
  }
}
@media (max-width: 710px) {
  .headerLinks {
    width: 50%;
  }
}

@media (max-width: 380px) {
  .headerCore {
    flex-wrap: wrap;
  }
  .headerCore div {
    margin: 10px auto 10px;
    padding-bottom: 0;
  }
  .headerLinks {
    width: 100%;
  }
}